{
  "semi": true,
  "jsxBracketSameLine": true,
  "proseWrap": "never",
  "embeddedLanguageFormatting": "off",
  "tabWidth": 2,
  "importOrder": [
    "^components/(.*)$",
    "^styles/(.*)$",
    "^[./(.css)]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
