{
  "semi": true,
  "jsxBracketSameLine": true,
  "proseWrap": "never",
  "embeddedLanguageFormatting": "off",
  "tabWidth": 2,
  "importOrder": [
    "^components/(.*)$",
    "^contexts/(.*)$",
    "^stores/(.*)$",
    "^hooks/(.*)$",
    "^lib/(.*)$",
    "^apis/(.*)$",
    "^services/(.*)$",
    "^assets/(.*)$",
    "^styles/(.*)$",
    "^[./(.css|scss)]",
    "^[./]",
    "^types/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
