@import "~antd/dist/antd.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /** NOTE: font-family set to inherit to prevent Ant's rules overeride and breaks our web styling */
  font-family: inherit;
}

/* Button */
.btn {
  text-transform: none !important;
}

/* Spin */
.ant-spin-dot-item,
.ant-spin-text {
  background-color: #35763b;
}

/* Radio */
.ant-radio-checked .ant-radio-inner {
  border-color: #35763b;
}
.ant-radio-inner::after {
  background-color: #35763b;
}

/* MENU */
/* selected menu bg */
.ant-menu-item-selected {
  background-color: #d8e8da !important;
}

/* selected menu title */
.ant-menu-item-selected a {
  color: #35763b !important;
}

/* selected menu title hover */
.ant-menu-item-selected a:hover {
  color: #65976a !important;
}

/* menu title hover */
.ant-menu-light .ant-menu-item a:hover {
  color: #65976a;
}

/* after menu */
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #35763b;
}

/* SUBMENU */
/* submenu bg dan submenu title */
.ant-menu-submenu-selected {
  color: #35763b;
  background-color: #d8e8da;
}

/* submenu title hover */
.ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: #65976a;
}

/* arrow */
.ant-menu-submenu-arrow {
  color: #35763b;
}

/* arrow hover */
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color: #65976a;
}

/* checked switch */
.ant-switch-checked {
  background-color: #35763b;
}

/* INPUT */
.ant-input,
.ant-input-number,
.ant-input-affix-wrapper,
.ant-picker {
  border-color: #35763b;
  border-radius: 5px;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #35763b;
}

.ant-input:hover,
.ant-input-number:hover,
.ant-input-affix-wrapper:hover {
  border-color: #65976a;
}

.ant-input:focus,
.ant-input-number-input:focus-visible,
.ant-input-number-focused {
  border-color: #35763b;
  outline: 0;
  -webkit-box-shadow: 0 0 0 1px #35763b;
  box-shadow: 0 0 0 1px #35763b;
}

.ant-input-affix-wrapper-focused,
.ant-picker:hover .ant-picker-focused {
  border-color: #65976a;
  outline: 0;
  -webkit-box-shadow: 0 0 0 1px #35763b;
  box-shadow: 0 0 0 1px #35763b;
}

/* SELECT */
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #35763b;
  border-radius: 5px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #35763b;
  border-radius: 5px;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #65976a;
  outline: 0;
  -webkit-box-shadow: 0 0 0 1px #35763b;
  box-shadow: 0 0 0 1px #35763b;
}

/* TREE SELECT */
.dontShow .ant-select-selection-item {
  display: none !important;
}

/* DATEPICKER */
.ant-picker:hover,
.ant-picker-focused {
  border-color: #65976a;
  outline: 0;
  -webkit-box-shadow: 0 0 0 1px #35763b;
  box-shadow: 0 0 0 1px #35763b;
}
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: #35763b;
}

/* TREE */
.treeMyCompanyMain.ant-tree,
.treeClientMain.ant-tree {
  background: #f4faf5;
}
.treeMyCompanyMain
  .ant-tree
  .ant-tree-node-content-wrapper.ant-tree-node-selected,
.treeClientMain
  .ant-tree
  .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: #d8e8da;
}
.treeMyCompanyMain.ant-tree
  .ant-tree-node-content-wrapper.ant-tree-node-selected,
.treeClientMain.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected,
.treeMyCompanySublokasi.ant-tree
  .ant-tree-node-content-wrapper.ant-tree-node-selected,
.treeClientSublokasi.ant-tree
  .ant-tree-node-content-wrapper.ant-tree-node-selected,
.treeTaskStatusList.ant-tree
  .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: #d8e8da;
}

/* PAGINATION */
.ant-pagination-item-active {
  border-color: #35763b;
}
.ant-pagination-item-active a {
  color: #35763b;
}

/* CHECKBOX */
.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #35763b;
  background-color: #35763b;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #35763b;
}

/* TABLE */
.tableTypeTask .ant-table-column-sorter-up.active,
.tableTypeTask .ant-table-column-sorter-down.active {
  color: #35763b;
}

.tableTask .ant-table-column-sorter-up.active,
.tableTask .ant-table-column-sorter-down.active {
  color: #35763b;
}

.tableTypeTask td.ant-table-column-sort,
.tableTask td.ant-table-column-sort {
  background: #ffffff;
}
.tableTask .ant-btn-primary:hover,
.tableTask .ant-btn-primary:focus,
.tableTask .ant-btn-primary {
  background: #35763b;
  border-color: #35763b;
}
.tableTask .ant-btn-link {
  color: #35763b;
}
.ant-dropdown-menu-item-selected,
.ant-dropdown-menu-submenu-title-selected {
  color: #35763b;
  background-color: #d8e8da;
}
.ant-table-filter-trigger.active {
  color: #35763b;
}

.slick-dots li button:before {
  color: green !important;
}
.slick-slide {
  padding: 0 10px;
  box-sizing: border-box;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}
