/* Button */
.btn{
    text-transform: none !important;
}

/* Spin */
.ant-spin-dot-item, .ant-spin-text {
    background-color: #35763B;
  }

  /* Radio */
  .ant-radio-checked .ant-radio-inner{
      border-color: #35763B;
  }
  .ant-radio-inner::after{
      background-color: #35763B;
  }


/* MENU */
/* selected menu bg */
.ant-menu-item-selected{
    background-color: #d8e8da !important;
}

/* selected menu title */
.ant-menu-item-selected a  {
    color:  #35763B !important;
}

/* selected menu title hover */
.ant-menu-item-selected a:hover{
    color: #65976a !important;
}

/* menu title hover */
.ant-menu-light .ant-menu-item a:hover{
    color: #65976a;
}

/* after menu */
.ant-menu-inline .ant-menu-item::after{
    border-right: 3px solid #35763B;
}



/* SUBMENU */
/* submenu bg dan submenu title */
.ant-menu-submenu-selected{
    color: #35763B;
    background-color: #d8e8da;
}

/* submenu title hover */
.ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover {
    color: #65976a;
}

/* arrow */
.ant-menu-submenu-arrow{
    color: #35763B;
}

/* arrow hover */
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow{
    color: #65976a;
}


/* checked switch */
.ant-switch-checked{
    background-color: #35763B;
}


/* INPUT */
.ant-input, .ant-input-affix-wrapper, .ant-picker{
border-color: #35763B;
border-radius: 5px;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover{
    border-color: #35763B;
}

.ant-input:hover, .ant-input-affix-wrapper:hover{
    border-color: #65976a;
}

.ant-input:focus {
    border-color: #35763B;
    outline: 0;
    -webkit-box-shadow: 0 0 0 1px #35763B;
    box-shadow: 0 0 0 1px #35763B;
}

.ant-input-affix-wrapper-focused, .ant-picker:hover .ant-picker-focused{
    border-color: #65976a;
    outline: 0;
    -webkit-box-shadow: 0 0 0 1px #35763B;
    box-shadow: 0 0 0 1px #35763B;
}

/* SELECT */
.ant-select:not(.ant-select-disabled):hover .ant-select-selector{
    border-color: #35763B;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-color: #35763B;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-color: #65976a;
    outline: 0;
    -webkit-box-shadow: 0 0 0 1px #35763B;
    box-shadow: 0 0 0 1px #35763B;
}

/* DATEPICKER */
.ant-picker:hover, .ant-picker-focused{
    border-color: #65976a;
    outline: 0;
    -webkit-box-shadow: 0 0 0 1px #35763B;
    box-shadow: 0 0 0 1px #35763B;
}

/* TREE */
.ant-tree{
    background: #F4FAF5;
}
.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected{
    background-color: #d8e8da;
}

/* PAGINATION */
.ant-pagination-item-active{
    border-color: #35763B;
}
.ant-pagination-item-active a{
    color: #35763B;
}



.slick-dots li button:before {
    color: green!important;
}
.slick-slide {
	padding: 0 10px;
	box-sizing: border-box;
 }
 .slick-prev:before,
 .slick-next:before {
   color: black!important;
 }
