.headerLayout {
  padding: 0;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

/* .triggerLayout{
    padding: 24px;
    float: left;
} */

.menuToggle:checked + .menu {
  display: flex;
  justify-content: end;
}

@media only screen and (max-width: 540px) {
  .foldToggle:checked + .sider {
    display: block;
  }

  .siderLayout,
  .trigger {
    display: none;
  }
}

@media only screen and (min-width: 541px) {
  .siderLayout {
    display: block;
  }
}
