.headerLayout {
  padding: 0;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.menuToggle:checked + .menu {
  display: flex;
  justify-content: flex-end;
}

  .siderLayout,
  .trigger {
    display: block;
  }

  .siderLayoutSmall,
  .triggerSmall {
    display: none;
  }

@media only screen and (max-width: 540px) {
  .siderLayoutSmall,
  .triggerSmall {
    display: block;
  }

  .siderLayout,
  .trigger {
    display: none;
  }
}
