.menuToggle:checked + .menu {
  display: flex;
  justify-content: flex-end;
}

.siderLayout,
.trigger,
.breadcrumbClients {
  display: block;
}

.siderLayoutSmall,
.triggerSmall,
.breadcrumbClientsSmall {
  display: none;
}

@media only screen and (max-width: 540px) {
  .siderLayoutSmall,
  .triggerSmall,
  .breadcrumbClientsSmall {
    display: block;
  }

  .siderLayout,
  .trigger,
  .breadcrumbClients {
    display: none;
  }
}
