[Unit]
Description=Front End for IMS production systemd config

[Service]
User=root
WorkingDirectory=/var/www/html/ims-fe
ExecStart=/bin/bash -c 'cd /var/www/html/ims-fe/ && export PORT=3001 && npm run start'
Restart=always

[Install]
WantedBy=multi-user.target