/** Platforms */
.mig-platform {
  /** Class name ini untuk setiap komponen yang terlihat seperti "card". Hampir semua widget pada dashboard memiliki tampilan seperti ini. */
  @apply bg-white rounded-md shadow-md p-6;
}

.mig-platform--p-0 {
  /** Sama seperti .mig-platform akan tetapi tanpa extra padding */
  @apply bg-white rounded-md shadow-md;
}

/** Buttons */
.mig-button {
  @apply rounded-md text-sm font-medium py-2 px-6 flex items-center;

  &--outlined {
    &-primary {
      @apply text-primary100 border-primary100 hover:text-primary100 hover:border-primary100 focus:text-primary100 focus:border-primary100;
    }

    &-danger {
      @apply text-state1 border-state1 hover:text-state1 hover:border-state1 focus:text-state1 focus:border-state1;
    }

    &-notice {
      @apply text-notice border-notice hover:text-notice hover:border-notice focus:text-notice focus:border-notice;
    }
  }

  &--solid {
    &-primary {
      @apply text-white hover:text-white focus:text-white bg-primary100 border-primary100 hover:bg-primary75 hover:border-primary75 focus:bg-primary75 focus:border-primary75;
    }

    &-danger {
      @apply text-white hover:text-white focus:text-white bg-state1 border-state1 hover:bg-state12 hover:border-state12 focus:bg-state12 focus:border-state12;
    }

    &-notice {
      @apply text-white hover:text-white focus:text-white bg-notice border-notice hover:bg-notice/75 hover:border-notice/75 focus:bg-notice/75 focus:border-notice/75;
    }
  }
}

/** Typography: Refer to Figma design */
.mig-heading {
  /** H2 */
  &--2 {
    @apply text-mono30 font-bold text-3xl;
  }

  /** H3 */
  &--3 {
    @apply text-mono30 font-bold text-2xl;
  }

  /** H4 */
  &--4 {
    @apply text-mono30 font-bold text-lg;
  }

  /** H5 */
  &--5 {
    @apply text-mono30 font-bold text-base;
  }
}
.mig-caption {
  @apply text-xs;

  &--medium {
    @apply font-medium;
  }

  &--bold {
    @apply font-bold;
  }
}

.parsed {
  @apply text-mono30;
  h1 {
    @apply font-bold text-2xl;
  }

  h2 {
    @apply font-semibold text-xl;
  }

  h3 {
    @apply font-medium text-lg;
  }
}

/** Scrollbar hidden */
.scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}

.required-mark {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}
