/** Platforms */
.mig-platform {
  /** Class name ini untuk setiap komponen yang terlihat seperti "card". Hampir semua widget pada dashboard memiliki tampilan seperti ini. */
  @apply bg-white rounded-[10px] border border-neutrals70 shadow-desktopCard p-4;
}

.mig-platform--p-0 {
  /** Sama seperti .mig-platform akan tetapi tanpa extra padding */
  @apply bg-white rounded-[10px] border border-neutrals70 shadow-desktopCard;
}

.mig-card {
  /** Digunakan untuk komponen card tanpa shadow */
  @apply p-4 rounded-[10px] border;
}

/** Buttons */
.mig-button {
  @apply rounded-md text-sm font-medium py-2 px-6 flex items-center font-roboto;

  &--outlined {
    &-primary {
      @apply text-primary100 border-primary100 hover:text-white hover:bg-primary100 hover:border-primary100 focus:text-white focus:bg-primary100;
    }

    &-danger {
      @apply text-state1 border-state1 hover:text-white  hover:bg-state1 hover:border-state1 focus:text-white focus:bg-state1;
    }

    &-notice {
      @apply text-notice border-notice hover:text-white hover:bg-notice hover:border-notice focus:text-white focus:bg-notice;
    }
  }

  &--solid {
    &-primary {
      @apply text-white hover:text-white focus:text-white bg-primary100 border-primary100 hover:bg-primary75 hover:border-primary75 focus:bg-primary75 focus:border-primary75;
    }

    &-danger {
      @apply text-white hover:text-white focus:text-white bg-state1 border-state1 hover:bg-state12 hover:border-state12 focus:bg-state12 focus:border-state12;
    }

    &-notice {
      @apply text-white hover:text-white focus:text-white bg-notice border-notice hover:bg-notice/75 hover:border-notice/75 focus:bg-notice/75 focus:border-notice/75;
    }
  }
}

.mig-buttons {
  @apply text-sm leading-4 font-medium font-roboto;
}

/** Typography: Refer to Figma design */
.mig-heading {
  @apply text-mono30 font-bold;

  /** H1 */
  &--1 {
    @apply text-5xl leading-[64px] text-mono30 font-bold;
  }

  /** H2 */
  &--2 {
    @apply text-[32px] leading-[48px] text-mono30 font-bold;
  }

  /** H3 */
  &--3 {
    @apply text-2xl leading-8 text-mono30 font-bold;
  }

  /** H4 */
  &--4 {
    @apply text-lg leading-6 text-mono30 font-bold;
  }

  /** H5 */
  &--5 {
    @apply text-base text-mono30 font-bold;
  }

  /** H6 */
  &--6 {
    @apply text-sm leading-6 text-mono30 font-bold;
  }

  /** H7 */
  &--7 {
    @apply text-xs leading-6 text-mono30 font-bold;
  }
}

.mig-body {
  @apply text-sm leading-6 text-neutrals100;

  &--medium {
    @apply text-sm leading-6 text-neutrals100 font-medium;
  }

  &--bold {
    @apply text-sm leading-6 text-neutrals100 font-bold font-inter;
  }
}

.mig-caption {
  @apply text-xs leading-5;

  &--medium {
    @apply text-xs leading-5 font-medium;
  }

  &--bold {
    @apply text-xs leading-5 font-bold;
  }
}

.mig-small {
  @apply text-[10px] leading-4;

  &--medium {
    @apply text-[10px] leading-4 font-medium;
  }

  &--bold {
    @apply text-[10px] leading-4 font-bold;
  }
}

.mig-buttons {
  @apply text-sm leading-4;

  &--medium {
    @apply text-sm leading-4 font-medium;
  }

  &--bold {
    @apply text-sm leading-4 font-bold;
  }
}

.parsed {
  @apply text-mono30;
  h1 {
    @apply font-bold text-2xl;
  }

  h2 {
    @apply font-semibold text-xl;
  }

  h3 {
    @apply font-medium text-lg;
  }
}

/** Scrollbar hidden */
.scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}

.required-mark {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.mig-title-card {
  @apply text-[16px] leading-6 text-mono30 font-bold font-inter;
}
